#nav
  #nav-wrapper
    .row.margin-left-10(style="margin-top:80px")
      .col.s12
        a#close-nav Atrás
    .row.margin-top-50.center
      p#menu Menú
    .row.center
      a(href='/#whiteSectionA')
        img#mi(src="img/mimuseo.svg")
        br
        br
    .row.center
      a.modal-trigger(href='#modal1')
        img#mi(src="img/miorigen.svg")
        br
        br
    .row.center
      a(href='/QR')
        img#mi(src="img/tusrecuerdos.svg")
        br
        br
    .row.center
      a(href='/contacto')
        img#mi(src="img/micontacto.svg")
        br
        br
    .row.center
      a.modal-trigger(href='#modal2')
       img#mi(src="img/Grupo441.svg")
      br
      br
      a.waves-effect.waves-light.btn-large.rounded-button(href='/login') INICIAR SESIÓN

#modal1.modal
  .card.blue.darken-3.rc2
    .card-content.white-text.no-padding.hg
      span.card-title.center.it Descubre nuestra historia
      img.center(src="img/Grupo348.svg" alt="Tio Temo Logo")
      img.bt(src="img/Grupo424.png" alt="Tio Temo Juguete")
  .modal-content
    img.ali(src="img/miorigen.svg" alt="Mi Origen")
    p.mod
      | ¡Hola! ¿Qué tal? Quiero darte la bienvenida a MIJU, una aventura espectacular en la historia de los juguetes que ofrece a quien nos visita: grandes momentos de alegría, felicidad y entretenimiento.
      br
      br
      | Mi colección cuenta con más de 5,000 juguetes que provienen de más de 20 países en el mundo, algunos con más de 100 años de haber sido fabricados.
      br
      br
      | Todo comenzó a la edad de 5 años, con el primer juguete oficial de mi colección, un JEEP Militar de fricción el cual puedes ver en la imagen.
      br
      br
      | Más de 68 años después, continúa mi pasión por los juguetes y hoy quiero compartir este gran proyecto, que después de haber sido concebido en mi mente hace más de 25 años, hoy es una realidad.
      br
      br
      | Agradezco a mi familia, a grandes amigos, entre ellos, al Arquitecto Juan Roberto Romero Ramírez y a un grupo de entusiastas inversionistas, liderados por el Ing. Alfonso García Hernández, por creer y apoyar nuestra visión.
      br
      br
      | Estamos convencidos que este museo atrae a tres generaciones, a los niños, a los padres y a los abuelos. Te invito a que nos visites a finales de 2019, trae a tu familia, ven a recordar tu pasado, vivir el presente e imaginar tu futuro en un mundo donde los juguetes forman parte de nuestras vidas.
      br
      br
      | Espero verte pronto.
      br
      br
      | —Tío Temo


#modal2.modal
  .card.redP
    .card-content.white-text.no-padding.hg
      //span.card-title.center.it Descubre nuestra historia
      img.center(src="img/Grupo348.svg" alt="Tio Temo Logo")
  .modal-content
    img.ali(src="img/Grupo441.svg" alt="Mi Club")
    p.mod
      | ¿Porqué es importante inscribirte en el Club del Tío Temo?
      br
      br
      | -Entérate de los avances de la construcción del Museo MIJU
      br
      br
      | -Participa en los concursos para ganar premios interesantes
      br
      br
      | Recibe descuentos en las entradas (próximamente)
      br
      br
      | Previo a la apertura del museo tendrás privilegios exclusivos para “sobrinos” del Tío Temo
      br
      br
      | Dinos qué más te gustaría recibir de este club en info@museomiju.com
      br
      br
      | ¡Haremos de cada visita, una experiencia única!
      br
      br
      | —Tío Temo
      .row
        .col.s12.m4.offset-m4
          a.waves-effect.waves-light.btn-large.rounded-button(href='/login' style="width: 100%;background-color:#00A660") INICIAR SESIÓN
