#navbarAdmin
  .row.padding-top-20.padding-left-20
    .col
      img.title(src="img/usuarios.svg" alt="Museo MIJU")
    .col.right
      a.brand-logo.right(href='logout') SALIR
        i.material-icons.right power_settings_new
    .col.right
      img.titletwo(src="img/mijuorange.svg" alt="Museo MIJU")
  .row(style="margin-top:8vh")
    .col.s10.m10.l10.offset-m1.offset-l1.offset-s1.no-padding
      ul.tabs.border
        li.tab.col.l3.m6.s6
          a.active(href='#test1') Registro Completo
        li.tab.col.l3.m6.s6
          a(href='#test2') Registro Incompleto
        li.tab.col.l3.m6.s6
          a(href='#test3') Newsletter
        li.tab.col.l3.m6.s6
          a(href='#test4') Familiares