#navbarAdmin
  .row.padding-top-20.padding-left-20
    .col.s6
      img.title(src="img/logo-club-tio-temo-bco.png" alt="Club Tio Temo")
    .col.s6.right
      a.brand-logo.right(href='logoutUsr') SALIR
        i.material-icons.right power_settings_new
  .row
    .col.s12.m12.l12.no-padding
      ul.tabs.border
        li.tab.col.l4.m8.s8
          a.active(href='#photos') Mis Recuerdos
        li.tab.col.l4.m8.s8
          a(href='#profile') Mi Perfil
        li.tab.col.l4.m8.s8
          a(href='#relatives') Mis Familiares