.navbar-fixed
  nav.z-depth-0(style="background-color:transparent")
    #navbar
      .row.padding-top-20.padding-left-20
        .col
          a(href='logoutUsr')
            img.title(src="img/Grupo1.svg" alt="Museo MIJU")
        .col.right
          a#nav-trigger
            img(src="img/menu.svg")
