doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    title Museo MIJU
    link(rel='shortcut icon' type='/img/Grupo333.svg' href='favicon.ico?v=3')
    block styles
      link(href='/css/materialize.css', rel='stylesheet')
      link(href='/css/style.css', rel='stylesheet')
      link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
      link(href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet")
      link(href='https://cdn.datatables.net/v/dt/dt-1.10.18/cr-1.5.0/r-2.2.2/datatables.min.css' rel='stylesheet')
      link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css")
      link(rel='stylesheet' href='https://unpkg.com/aos@2.3.1/dist/aos.css')
      link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    block additional_styles

  body
    main
      block content
        
    block scripts
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(src='https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/v/dt/dt-1.10.18/cr-1.5.0/r-2.2.2/datatables.min.js')
    //-script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js")
    script(type="text/javascript" src="/js/init.js")
    script(type="text/javascript" src="/js/functions.js")
    script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
    //script(src="/js/parallax.js")
    //-Front queries
    //-script(type="text/javascript" src="https://npmcdn.com/parse@1.9.2/dist/parse.min.js")
    block additional_scripts
      
