extends ../layouts/layout

block content
  #wrapper
    #login
      .row(style="border: solid 2px lightgrey; border-radius:10px")
        .col.s12.m6.l6.center
          img.center(src="img/Grupo332.svg" alt="Logo Tio Temo")
          br
          hr
          br
          .row
            form#login.col.s10.m10.l10.offset-s1.offset-m1.offset-l1(method="post" action="/login")
              span.error #{error}
              .row
                .input-field
                  input#username.validate(type='email' name='username' required)
                  label(for='username') ejemplo@email.com
              .row
                .input-field
                  input#password.validate(type='password' name='password' required)
                  label(for='password') Contraseña
              a(href="/recuperar")
                p(style='font-size: 1.1em !important') ¿No recuerdas tu contraseña?
                  u(style='color: #009949; text-decoration: none')  RECUPÉRALA
              br
              button.btn-large.waves-effect.waves-light(type='submit')
                | INICIA SESIÓN
              p ¿Aún no eres sobrino del Tío Temo?
              a(href="/reg")
                p.s2
                  u(style='color: #009949; text-decoration: none; font-family: "Montserrat";') Regístrate
        .col.s12.m6.l6(style="background-color: #195FA7; height: 70vw; border-radius: 0px 10px 10px 0px")
          img(src="img/camara.png" alt="Camara" style="max-width: 80%; margin-left:4em")
          img(src="img/camion-tonka@2x.png" alt="Camion" style="max-width: 80%")