html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Miju
  body
    #img
      img(src='https://museomiju.com/img/emails/newsletter.png', alt='MIJU', style='width:100%')